<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <!-- 注意：IPA文件URL -->
                        <string>https://github.com/317482454/Nxt-wallet-js/releases/download/master/Nxt-wallet.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <!-- 注意：应用程序icon url, 57x57 -->
                        <string>https://raw.githubusercontent.com/317482454/Nxt-wallet-js/master/wallet-app/res/icon/ios/icon-57.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <!-- 注意：应用程序identifier -->
                    <string>io.nxt.wallet</string>
                    <key>bundle-version</key>
                    <string>1.0.8</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>walletnxt.com</string>
                    <key>title</key>
                    <!-- 注意：应用程序名称 -->
                    <string>Nxt Wallet</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
